<form [formGroup]="form" class="flex flex-column align-items-center py-5">
    <div class="w-full md:w-10 lg:w-8 flex flex-column gap-5">
        <p-floatlabel class="w-full">
            <input pInputText id="productId" formControlName="productId" autocomplete="off" class="w-full " />
            <label for="productId">Ürün ID</label>
        </p-floatlabel>

        <p-floatlabel class="w-full">
            <input pInputText id="title" formControlName="title" autocomplete="off" class="w-full " />
            <label for="title">Ürün Adı</label>
        </p-floatlabel>

        <p-floatlabel class="w-full">
            <p-select formControlName="rType" appendTo="body" [options]="" class="w-full " />
            <label for="rType">Bulunduğu Reyon Türü</label>
        </p-floatlabel>

        <p-floatlabel class="w-full">
            <p-select formControlName="moveStore" appendTo="body" [options]="" class="w-full " />
            <label for="moveStore">Taşınacak Depoyu Seçiniz.</label>
        </p-floatlabel>

        <p-floatlabel class="w-full">
            <p-select formControlName="moveRayon" appendTo="body" [options]="" class="w-full " />
            <label for="moveRayon">Taşınacak Reyonu Seçiniz</label>
        </p-floatlabel>



        <button pButton type="submit" label="Kaydet" class="w-full p-button-success mt-3" (click)="submit()"></button>
        <button pButton label="Ürünü Sil" class="w-full p-button-danger "></button>

    </div>
</form>