<form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-column align-items-center py-5">
    <div class="w-full md:w-10 lg:w-8 flex flex-column gap-5">
        <p-floatlabel class="w-full">
            <input pInputText id="id" formControlName="id" autocomplete="off" class="w-full " />
            <label for="id">Reyon Adı</label>
        </p-floatlabel>

        <p-floatlabel class="w-full">
            <p-select [ngClass]="{'p-invalid':form.get('type')?.invalid && form.get('type')?.dirty}" [showClear]="true"
                formControlName="type" appendTo="body" [options]="category" class="w-full " />
            <label for="type">Reyon Türü</label>
        </p-floatlabel>


        <p-floatlabel class="w-full">
            <input pInputText id="store" formControlName="store" autocomplete="off" class="w-full " />
            <label for="store">Etkilenecek Depo</label>
        </p-floatlabel>

        <button [disabled]="form.invalid" pButton type="submit" label="Kaydet"
            class="w-full p-button-success mt-3"></button>
    </div>
</form>