<p-toast></p-toast>
<div *ngIf="isLoading$()" class="overlay">
    <div class="spinner-container">
        <p-progressSpinner strokeWidth="4"></p-progressSpinner>
    </div>
</div>
<div>
    <div class="h-5 bg-gray-500 flex justify-content-between align-items-center p-3">
        <h1 class="text-xl font-bold text-white tracking-wide uppercase">Depo App</h1>
        <div>
            <input type="text" pInputText (input)="search($event)" placeholder="Ürün Ara" />
        </div>
    </div>

    <div *ngIf="stores$ | async  as stores;else emptyTable" class="flex flex-wrap justify-content-around">
        <div *ngFor="let store of stores;let i = index">
            <table #child [store]="store" (restoreDataEvent)="callAgain()"></table>
        </div>
    </div>
    <ng-template #emptyTable>
        <div class="flex flex-wrap ">
            <table [store]="{id:0,title:'Depo A'}" (restoreDataEvent)="callAgain()"></table>
        </div>
    </ng-template>
</div>